<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
   
 {{>navbar}}

  <!--main header-->
<div class="container-fluid main_header ">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto ">
        <div class="row ">
          <div class="col-md-12 col-12 main_header_left align-items-center" >
            <figure class="errimg">
                    <img src="images/5.png" alt="" class="img-fluid ">
                </figure>
            <p>Oops Sorry!!</p>
            <h1>This page is <span class="text_color">not found</span>.</h1>
            <a href="/"><button>go back</button></a>
          </div>
          
      </div>
    </div>  
</div>
</div>
<!--footer-->
{{>footer}}
</body>
</html>